*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

/* .tester{
  margin: 0;
  width: 100%;
} */

.navbar-collapse {
  flex-grow: 0;
}

.a{
  width: 30%;
  float: left;
  border-radius: 5px;
  border: solid white 0px;
}

.a.clear {
  content: "";
  clear: both;
  display: table;
}


html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 15px;
}

.filter {
  margin: 30px 10%;
}

.carousel-width {
  padding: 20px 30%;
}

/* .phones-btn {
  position: relative;
  font-size: 14px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 14px 40px;
  cursor: pointer;
  border-radius: 30px;
  background-color: #62929E;
} */

/* .sort {
  margin: 30px 10%;
}

.btn-collapse {
  color: #62929E;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  outline: none;
  font-size: 22px;
} */

.cardBtn {
  color: #62929E;
  background-color: white;
  border: 2px solid #62929E;
  border-radius: 5px;
  width: 50%;
  margin-left: 25%;
}

.cardBtn:hover {
  color: white;
  background-color: #62929E;
  border: 2px solid #62929E;
}

/* .filter-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
} */

.row {
  margin: 0px 10%;
}

.card {
  margin: 15px 0;
  margin-left: 2.33%
}

.myModal{
  height: 100vh;
  width : 80%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  justify-content: center;
}

.closeBar{
  font-size: 25px;
  color : white;
  text-align: center;
}


@media only screen and (max-width: 900px) {

  .card {
    margin: 15px;
    margin-left: 2.5%;
  }

  .a{
    width: 45%;
    float: left;
  }

  .a.clear {
    content: "";
    clear: both;
    display: table;
  }

}

@media only screen and (max-width: 600px) {

  .card {
    margin: 15px 5%;
  }

  .a{
    width: 90%;
  }

}
